{% extends 'base.html' %}

{% block titulo %}
Busca por Livro
{% endblock %}

{% block conteudo %}

<main class="main-books">
    <div class="container-books">

    <div class="centralizar-books">

        <div class="barra-pesquisa">
            <form action="{{ url_for('main.search_books') }}" method="GET">
                <input style="margin-bottom: 5px;" class="borda" type="text" name="query" placeholder="Pesquise por livros" required>
                <button  style=" width: 80px; color: var(--color-2);" class="botao-profile" type="submit">Pesquisar</button>
            </form>
        </div>

        {% block content %}
        
        <div class="lista-livros">
        {% if api_results %}
        
            <ul>
                {% for item in api_results %}

                <div class="livro borda" onclick="irPara('{{ url_for('main.book_details', book_id=item.book_id) }}')">

                <li>
                        {% if item.thumbnail %}
                            <img alt="Capa do livro"  src="{{ item.thumbnail }}" alt="{{ item.title }} ">
                        {% endif %}
                        {{ item.title }}
                </li>

                </div>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if not api_results %}
            <div style="width: 300px;"></div>
        {% endif %}
        </div>
{% endblock %}
    </div>
    </div>
</main>
{% endblock %}
