{% extends 'base.html' %}

{% block titulo %}
Home
{% endblock %}

{% block conteudo %}

<main>
    <div id="box-centralizar">
        <h2>Peça uma recomendação</h2>
        <p>Precisa de uma recomendação de livro? Encontre aqui seu próximo <span class="marca-texto">livro favorito.</span> </p>

        <form id="home">
            <label for="recomendacao"></label>
            <textarea id="recomendacao" rows="3" placeholder="Peça sua recomendação de livros aqui"></textarea>
            <button type="button" id="botao-home">Enviar</button>
        </form>
    </div>
</main>
{% endblock %}