{% extends "base.html" %}

{% block titulo %}
Login
{% endblock %}

{% block conteudo %}
<div id="principal-login">
    
    {% with messages = get_flashed_messages() %}

    <form method="POST" action="/login" id="login">
        <h2 id="titulo-login">Faça Login</h2>    
        <div class="mensagem-erro">
            {% if messages %}
                <img id="atencao" src="{{ url_for('static',filename='img/atencao.png') }}">{{ messages[0] }}.
            {% endif %}
        </div>        
        <div>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="input-enviar" >
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="input-enviar">
        </div>
        <div class="remember-div">
            <label id='label-remember' for="remember">Lembrar meus dados</label>
            <input type="checkbox" id="remember" name="remember" value="Lembrar">            
        </div>
        <div class="botao-enviar-div">
            <button type="submit" class="botao-enviar">Login</button>
        </div>
    </form>
    {% endwith %}

    <div class="login-page">
        <p id="p-login">Novo aqui?</p>
        <button onclick="location.href='{{ url_for('auth.signup') }}'" id="criar-cadastro" >Crie sua conta</button>
    </div>
</div>
{% endblock %}
