
{% extends "base.html" %}

{% block titulo %}
{{ user.name }} (@{{ user.username }})
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}

{% block conteudo %}

<main>
<div id="bloco-profile">

	<div id="profile-info">

		<div id="bloco-foto">
			{% if user.image %}
			<img src="{{ url_for('auth.get_user_image', user_id=user.id) }}" id="profile-foto" >

			{% else %}
				<img src="{{ url_for('static', filename='img/foto.png') }}" id="profile-foto">
			{% endif %}
		</div>

		<div id="bloco-dados">

			<h1 id="nome">{{ user.name }}</h1>
			<p id="bio-paragrafo">@{{ user.username }}</p>
			<p id="bio-paragrafo">{{ user.biography if user.biography is not none else ''}}</p>

			{% set num_followers = user.get_num_followers() %}
			{% set num_following = user.get_num_following() %}
			
			<a onclick="apareceDiv(1)" href="{{ url_for('main.get_seguidores', username=user.username) if num_followers != 0 else '' }}">
				Seguidores: {{ num_followers }}
			</a><br>
			
			<a onclick="apareceDiv(2)" href="{{ url_for('main.get_seguindo', username=user.username) if num_following != 0 else '' }}">
				Seguindo: {{ num_following }}
			</a>

			{% if current_user.is_authenticated %}
			{% if user != current_user %}

				{% if not current_user.is_following(user) %}
					<form action="{{ url_for('auth.follow', user_id=user.id) }}" method="POST">
						<input type="hidden" name="user_id" value="{{ user.id }}">
						<button class="botao-padrao" style="width: 200px; margin-top: 20px;" type="submit">Seguir</button>
					</form>
				{% endif %}
				{% if current_user.is_following(user) %}
					<form action="{{ url_for('auth.unfollow', user_id=user.id) }}" method="POST">
						<input type="hidden" name="user_id" value="{{ user.id }}">
						<button class="botao-padrao" style="width: 200px; margin-top: 20px;" type="submit">Deixar de seguir</button>
					</form>
				{% endif %}
			{% endif %}
			{% endif %}
				
		</div>

		{% if user == current_user %}
		<button id="botao-editar-perfil" class="botao">Editar Perfil</button>	
		
		<div id="editar-perfil">
			<form method="POST" action="{{ url_for('auth.edit_profile') }}" enctype="multipart/form-data" id="edit-profile">
				<div>
					<label for="bio">Bio</label>
					<textarea id="bio" name="bio" class="input-edit-profile" rows="4">{{ user.biography or '' }}</textarea>
				</div>
				<div>
					<label for="nome">Seu nome</label>
					<input type="text" name="nome" id="nome" class="input-edit-profile capitalizar" value="{{ user.name or '' }}">
				</div>
				<div>
					<label for="username">Nome de usuário</label>
					<input type="text" name="username" id="username" class="input-edit-profile" value="{{ user.username or '' }}">
				</div>
				<div>
					<label for="photo" id="label-file">Mudar foto de perfil</label><br>
					<input type="file" id="photo" name="photo" class="input-edit-profile">
				</div>
				<div class="botao-profile-div">
					<input type="submit" value="Enviar" class="botao-profile">
				</div>
			</form>
		</div>
		{% endif %}

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div id="flash-message" >{{ messages[0] }}</div>
			{% endif %}
		{% endwith %}
	</div>

	<div id="profile-page">
		
		<div id="profile-recomendacoes">
			{% if user == current_user %}
			<form method="POST" action="{{ url_for('auth.post') }}" id="postar">
				<textarea name="post" class="post" placeholder="Avaliação" rows="2"></textarea>
				<button type="submit" id="botao-postar" class="botao">Enviar</button>
			</form>
			<div class="linha"></div>
			{% endif %}

			<div id="lista">

				{% for post in posts %}

				<div class="post-pedido">		

					<div class="bloco-post-header">
						<div>
							<img src="{{ url_for('auth.get_user_image', user_id=post.author.id) }}" class="profile-foto">	
							<a href="{{ url_for('auth.profile', username=user.username) }}">@{{user.username}}</a>
						</div>

						<p>{{ post.timestamp.strftime('%d de %b de %Y %H:%M') }}</p>

					</div>

					<div class="bloco-post-main">
						{{ post.post }}		
					</div>

					{% if post.author == current_user %}

					<div class="edit-post-main">
						<form  method="POST" action="{{ url_for('auth.edit_post', post_id=post.id) }}">
							<textarea class="post" name="edited-post" rows="2">{{ post.post }}</textarea>
							<button type="submit"  class="botao-profile">Enviar</button>
						</form>
					</div>
					
					<div class="bloco-post-footer">
						<button class="editar-post botao-profile" style="margin-right: 5px;">Editar</button>

						<form  method="POST" action="{{ url_for('auth.delete_post', post_id=post.id) }}">
							<button class="botao-profile" type="submit">Excluir</button>
						</form>
					</div>
					
					{% endif %}
				
				</div>
				{% endfor %}

				{% if posts==[] and not user == current_user%}
					<div class="linha"></div>
				{% endif %}

			</div>
		</div>


		<div id="profile-avaliacoes">
			<div id="lista">
				{% for rating in ratings %}
					<div class="post-pedido">		

						<div class="bloco-post-header">	
							<div>
								<img src="{{ url_for('auth.get_user_image', user_id=rating.user_id) }}" class="profile-foto">	
								<a href="{{ url_for('auth.profile', username=user.username) }}">@{{user.username}}</a>
							</div>

							<p>{{ rating.timestamp.strftime('%d de %b de %Y %H:%M') }}</p>
						</div>

						<div class="bloco-book">

							<div class="bloco-livro-img" onclick="irPara('{{ url_for('main.book_details', book_id=rating.book_id) }}')">

								<img src="{{ rating.book_thumb }}" alt="{{ rating.book_title }} thumbnail">
								<a href="{{ url_for('main.book_details', book_id=rating.book_id) }}">{{ rating.book_title }}</a>
								
							</div>
						
							<div class="bloco-post-main" style="margin: 0;">
							{{ rating.text }}
							</div>

							<div class="edit-post-main">
								<form method="POST" action="{{ url_for('main.edit_rating', rating_id=rating.id) }}">
									<textarea class="post" name="edited-rating" rows="2">{{ rating.text }}</textarea>
									<button type="submit"  class="botao-profile">Enviar</button>
								</form>
							</div>

						</div>	

						{% if rating.user_id == current_user.id %}
							
							<div class="bloco-post-footer">

								<button class="editar-post botao-profile" style="margin-right: 5px;">Editar</button>

								<form method="POST" action="{{ url_for('main.delete_rating', rating_id=rating.id) }}">
									<button class="botao-profile" type="submit">Excluir</button>
								</form>		
							</div>
					
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>  

</main>   

{% endblock %}
