{% extends 'base.html' %}

{% block titulo %}
Explorar
{% endblock %}

{% block conteudo %}

<main id="bloco-pesquisar">

	<div id="centralizar">

	<div id="main-pesquisar">

		<div id="block-esquerda" >


			<form action="{{ url_for('main.search_posts') }}" method="GET">
				<input class="borda" type="text" name="query" placeholder="Pesquisar">
				<button class="botao-profile" style=" width: 80px; color: var(--color-2);" type="submit">Pesquisar</button>
			</form>

			<div class="linha"></div>


			<div class="tabs">

				<a  id="tab-all" class="botao-padrao" href="{{ url_for('main.stream', filter='all') }}">Publicações</a>
				<a class="botao-padrao" href="{{ url_for('main.stream', filter='outro') }}">Recomendações</a>

				
				{% if  current_user.is_authenticated %}
				<a id="tab-following" class="botao-padrao {% if filter_type == 'following' %}active{% endif %}" href="{{ url_for('main.stream', filter='following') }}">Seguindo</a>
			{% endif %}
			</div>

		</div>

		<div id="block-direita">

			{% for post in posts %}

			<div id="block-post" class="post-pedido">		

				<div class="bloco-post-header">
			
					<div>
						<img alt="Foto de perfil"  src="{{ url_for('auth.get_user_image', user_id=post.author.id) }}" class="profile-foto">	
						<a href="{{ url_for('main.profile', username=post.author.username) }}">@{{post.author.username}}</a>
					</div>

					<p>{{ post.timestamp.strftime('%d de %b de %Y %H:%M') }}</p>
				</div>

				<div class="bloco-post-main">
					{{ post.post }}		
				</div>
			</div>
			
			{% endfor %}

			{% for rating in ratings %}
					<div class="post-pedido">		

						<div class="bloco-post-header">	

							<div>
								<img alt="Foto de perfil"  src="{{ url_for('auth.get_user_image', user_id=rating.user_id) }}" class="profile-foto">	
								<a href="{{ url_for('main.profile', username=rating.user.username) }}">@{{rating.user.username}}</a>
							</div>

							<p>{{ rating.timestamp.strftime('%d de %b de %Y %H:%M') }}</p>

						</div>

						<div class="bloco-book">

							<div style="min-width: 140px; padding-left: 5px;" >

								<div class="bloco-livro-img" onclick="irPara('{{ url_for('main.book_details', book_id=rating.book_id) }}')">
									<img alt="Capa do livro"  src="{{ rating.book_thumb }}" alt="{{ rating.book_title }}">
									<a  href="{{ url_for('main.book_details', book_id=rating.book_id) }}">{{ rating.book_title }}</a>
								</div>
								
								<div class="stars">
									{% for i in range(1, 6) %}
										{% if i <= rating.rate %}
											<span class="star filled">★</span>
										{% else %}
											<span class="star">★</span>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						
							<div class="bloco-post-main" style="margin: 0;">
							{{ rating.text }}
							</div>

							
						</div>	

					</div>
				{% endfor %}
		</div>

		</div>

	</div>
	</div>

<script>
	</script>
</main>
{% endblock %}
