#bloco-profile{

    margin-top: 170px;      
    height: 100%;
    width: auto;
    padding-left: 15px;

    margin-bottom: 20px;

    display: flex;
}


#profile-info{

    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 10px;
}

#bloco-dados a{
    color: var(--color-2);
    text-decoration: none;
}

#bloco-dados a:hover{
    color: var(--font-black);
}

h1#nome{
    margin-top: 20px;
    font-size: 22px;
    color: var(--font-black);

}

p#bio{
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: var(--color-2);
}

#profile-foto {
    width: 180px; 
    height: 180px;
    border-radius: 50%; 
    border: 2px solid var(--color-1);
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

#profile-page{
    width: 680px;
    padding: 10px;

    margin-right: 20px;
    margin-left: 30px;
}

#profile-avaliacoes{
    background-color: var(--err-font);
    height: auto;
    width: auto;
    display: none;
}
#editar-perfil{
    height: auto;
}

#botao-excluir{
    margin: 10px 0;
    background-color: #af3434;
}

button#botao-editar-perfil{
	width: 100%;
    min-height: 40px;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    background-color: var(--backgroud-color);
    font-weight: 500;
    font-size: 15px;    
    margin-top: 25px;    
}

.botao-editar{
    width: 100%;
    min-height: 40px;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    background-color: var(--backgroud-color);
    font-weight: 500;
    font-size: 15px;    
    margin-top: 25px;
    margin-bottom: 10px;
    
}


button.botao-editar:hover{
    background-color: var(--backgroud2-color);
}

#editar-perfil{
    width: 100%;
  
    padding: 0px;
}

#edit-profile label{
    color: var(--font-black);
    padding-left: 3px;
    font-weight: 550;
    display: inline;
}

#edit-profile label:hover{
    background-color: var(--backgroud2-color);
}

.input-edit-profile{
	width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 5px;
    color: var(--main-font-color);

    font-size: 15px;
}

.input-edit-profile:focus{
    border-color: #a5a5a5;
}

input[type="file"] { 
	display: none; 
 }
 
#label-file{
	margin-top: 10px;
	border: 1px solid #cecece;
	padding: 10px;
	border-radius: 5px;
	text-align: left;
	cursor: pointer;
 }

.botao-profile{
	width: 70px;
	height: 40px;

    border: solid 1px var(--border-color);
    border-radius: 4px;
    background-color: var(--backgroud-color);
    font-weight: 500;
    font-size: 15px;  
}

.botao-profile:hover{
    background-color: var(--backgroud2-color);
}


.botao-profile-div{
	display: flex;
	justify-content: flex-end;
	margin:10px 0;
}

#bio{
    resize: none;
}

#bio-paragrafo{
    width: 100%;
    text-align: left;
}


form#postar {
    background-color: var(--backgroud-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;

    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

textarea.post {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;

    min-height: 100px;

}

textarea.post:focus {
    border-color: #a5a5a5;
    
}

button#botao-postar {
    height: 50px;
    width: 70px;

    background-color: var(--backgroud-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: none;
}

button#botao-postar:hover {
    background-color: var(--backgroud2-color);
}

div.linha {
    height: 1px;
    background-color: var(--border-color);
    margin-top: 20px;
}


#lista .post-pedido{
    width: 100% !important;
}

div.post-pedido{
    width: 100%;
    height: auto;

    padding: 10px;

    border-radius: 4px;
    border: 1px solid var(--border-color);

    margin-bottom: 20px;

}

.post-pedido a{
    text-decoration: none;
    color: var(--main-font-color);
}

.post-pedido a:hover{
    color: var(--font-black);
}

.post-pedido p{
    color: var(--main-font-color);
    font-size: 15px;
}

.bloco-post-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.bloco-post-main{
    margin: 20px 0;
    padding-left: 10px;
}

.bloco-post-main p{
    display: inline;
}

.bloco-post-footer{
    display: flex;
    justify-content: flex-end;
}


#flash-message{
    color: var(--aviso-color);
}

.botao-padrao{

    width: 100px;

    font-weight: 500;
    font-size: 15px;


    background-color: var(--backgroud-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 15px;

    padding: 10px;

}

.botao-padrao:hover{
    background-color: var(--backgroud2-color);
}


.edit-post-main{
    display: none;
    width: 100%;
    margin-right: 2px;
}


@media screen and (max-width: 990px){
    
    #bloco-profile{
        position: relative;

    }

    #profile-page{
        width: 60vw;
    }


    .bloco-post-header{
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10px;

    }
    .bloco-post-header p{
        text-align: left;
        margin-bottom: 5px;
    }

    .bloco-post-header{
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 760px){
    
    #bloco-profile{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    #profile-info{
        position: relative;
    }

    #profile-page{
        margin-left: 0;
        width: 90vw;
    }
   
}

.bloco-post-header img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}



.bloco-book{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}


.bloco-livro-img{
    display: flex;
    flex-direction: column;;

    width: auto;
    max-width: 140px;
    color: var(--color-2);

    align-items: center;
    cursor: pointer;

}

.bloco-livro-img a{
    text-align: center;
}

.bloco-livro-img img:hover{
    transform: scale(1.1);
}

.bloco-livro-img img{

    width: 80px;
    height: 100px;
    transition: .1s;
    padding-bottom: 3px;

}

